body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    padding: 2.5%;
    width: 90%;
    display: flex;
    gap: 10px;
}

.container .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.container .img-container {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.container .img-container.alta {
    aspect-ratio: 4 / 6.12;
}

.container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}