* {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgb(138 44 215), rgb(66 19 104)49%, rgb(52 8 88)50%, rgb(98 31 151));
}
.container {
    width: 100%;
    height: 100%;
    align-items: middle;
}
.img {
    overflow: hidden;
    width: 200px;
    height: 200px;
    align-items: center;
    border-radius: 10000000000000000px;
}
.img img {
    width: 200px;
    height: 200px;
}